html, body {
    height: 100%
}
body {

    overflow-x: hidden
}

a, a:hover, a:focus {
    text-decoration: none;
    color: inherit
}
/*
    > Fonts
*/
.playfair-font {
    font-family: 'Playfair Display', serif;
}
button, button:focus{
    outline:none;
    
}
.paragraph {
    color: #999;
    font-size: 14px;
    line-height: 1.8
}
.black {
    color: #333
}
.bold {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right
}
.text-left {
    text-align: left
}


.btn {
    color: inherit;
    font-size: 18px;
    border: 1px solid #666;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
    display: inline-block;
}
.btn:hover {
    background-color: #333;
    color: #fff
}


.link, .link:hover, .link:focus {
    text-decoration: underline;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 700;
}

.no-padding {
    padding: 0;
}


/*
    clickable anchor
*/
.clickable-item {
    position: relative;
}
.clickable-item .clickable-anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}


/*
    Ratio Component
*/
.ratio-holder {
    position: relative;
    overflow: hidden
}
.ratio-holder .ratio {
    padding-top: 100%;
}
.ratio-holder .ratio.video-ratio {
    padding-top: 120%;
}
.ratio-holder .ratio.menu-ratio {
    padding-top: 70%
}
.ratio-holder .ratio.square-ratio {
    padding-top: 100%;
}
.ratio-holder .ratio-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.ratio-holder .ratio-content img {
    width: 100%;
    min-height: 100%
}


.bg-pattern {
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat
}




/*start header*/
header {
    padding: 20px 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0
}
header.sticky {
    background-color:rgba(43, 43, 43, 0.95);
    color: #fff;
    z-index: 9999
}
header .logo {
    display: inline-block;
    margin-left: 10px
}

header nav {
    float: right;
}
header nav ul{
    margin-top: 15px;
}
header nav li {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
}
header nav li a, header nav li a:hover,
header nav li a, header nav li a:focus {
    color: inherit;
    text-decoration: none
}
header nav li:last-child {
    margin-left: 80px 
}
header nav li:last-child i {
    margin-left: 10px;
    vertical-align: text-top
}


/*mobile navigation*/
@media(min-width: 768px) {
    header .nav-btn {
        display: none
    }
    header .nav-list .list-item {
        position: relative
    }
    header .nav-list .list-item:before {
        content: '';
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -8px;
        right: 0;
        left: 0;
        width: 0;
        transition: width 0.4s
    }
    header .nav-list .list-item:hover:before {
        width: 100%
    }
}

@media(max-width: 767px){
/*
    header nav.active .nav-list {
        right: -200px;
    }
*/  
    header nav:not(.active) .nav-list {
        transition: 0.1s;
        transition-delay: 1.4s;
        margin-right: -200px;
    }
    header nav:not(.active) .nav-list .list-item {
       /* display: none;*/
        right: -200px
    }
    header nav .nav-list{
        position: absolute;
        top: 100%;
        right: 0;
        text-align: center;
        width: 200px;
    }
    header nav .nav-list .list-item{
        background-color: #333;
        display: block;
        margin-left: -40px;
        margin-bottom: 2px;
        position: relative;
        right: 0;
        transition:right 0.8s
    }
    header nav .nav-list .list-item:nth-child(2){
        transition-delay: 0.2s
    }
        header nav .nav-list .list-item:nth-child(3){
        transition-delay: 0.4s
    }
        header nav .nav-list .list-item:nth-child(4){
        transition-delay: 0.6s
    }
        header nav .nav-list .list-item:nth-child(5){
        transition-delay: 0.8s
    }
    
    header nav .nav-list .list-item:hover,
    header nav .nav-list .list-item.active{
        background-color: #000
    }
    header nav .nav-list .list-item a{
        display: block;
        padding: 20px;
        border-bottom: 1px solid #000
    }
    header nav .nav-btn{
        width: 40px;
        background: none;
        border: none;
        margin-top: 15px
    }
    header nav .nav-btn span {
        height: 2px;
        display: block;
        background-color: #fff;
        margin-bottom: 6px
    }

}
.close {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: 6px;
    color: #fff
}

/* end header */




/* 
    video component 
*/

.video {
    position: relative;
}
.video:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    left: -60px;
    width: 100%;
    height:100%;
    background-image: url('../images/dots.png');
    background-repeat: repeat
}
.video .video-bg {
    width: 100%;
    min-height: 100%
}
.video .video-controller {
    position: absolute;
    bottom: 20px;
    left: 25px
}
.video .video-controller .control {
    background: none;
    border: none;
    color: #fff
}
.video .video-controller .control i {
    margin-left: 5px;
    font-size: 11px;
    vertical-align: middle
}


@media(max-width: 767px) {
    .video:before {
        left: -30px;
        bottom: -30px
    }
}




/*
    Card Component
*/
.card {
    background-color: #fff;
}
.card:not(.no-padding) {
    padding: 20px;
}
.card .card-image {
    position: relative;
}
.card .card-image.has-price {
    margin-bottom: 50px;
}
.card .card-image .price-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    text-align: center
}
.card .card-image .price-holder .price {
    display: inline-block;
    background-color: #fff;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}
.card .card-content.has-arrow {
    position: relative;
}
.card .card-content.has-arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.card .card-content.has-arrow.arrow-left:before {
    border-right: 15px solid #fff;
    right: 100%;
}
.card .card-content.has-arrow.arrow-right:before {
    border-left: 15px solid #fff;
    left: 100%;
}
.card .card-content.has-arrow.arrow-top:before {
    border-top: none;
    border-bottom: 15px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    bottom: 100%;
    top:auto;
}



/*
    Slider Component
*/
.slider-container {
    position: relative;
    padding: 0 45px;
}
.slider-container .slider {
    overflow: hidden;
}
.slider-container .slider .slider-banner {
    position: relative;
    left: 0;
    transition: left 0.4s;
}
.slider-container .slider .slider-banner .slider-item {
    float: left;
}
.slider-container .slider-arrows .arrow {
    height: 46px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -23px; 
    font-size: 46px;
    line-height: 1;
    z-index: 4;
}
.slider-container .slider-arrows .arrow.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.slider-container .slider-arrows .arrow.prev {
    left: 0;
}
.slider-container .slider-arrows .arrow.next {
    right: 0;
}


/*
** Section
*/
.section {
    height: auto;
    padding-top: 92px;
    min-height: 700px;
}
.section-header .section-title {
    font-size: 45px;
    line-height: 0.9;
    margin-top: 0;
}
.section-header .section-title .small {
    font-weight: 600;
    font-size: 13px;
    display: block;
    color:#999;
    letter-spacing: 9px;
    margin-bottom: 25px
}


/*
    section-body responsive
*/
@media(max-width: 991px) {
    .section-header .section-title {
        font-size: 30px;
    }
}
@media(max-width: 767px) {
    .section-header {
        text-align: center;
    }
    .section-header .section-title {
        line-height: 1.2;
    }
    .section .section-body {
        text-align: center
    }
}



/*
    .main-section
*/
.main-section{
    background-image: url(../images/bg-dark.jpg);
    background-size: cover;
    padding-top: 200px;
    position: relative;
    height: 100%;
    min-height: 500px;
}
.main-section .section-title {
    font-size: 55px;
    color: #fff;
    text-align: right;
}

.main-section .section-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}
.main-section .section-info .container {
    position: relative
}
.main-section .section-info img {
    width: 370px;
    margin-bottom: -85px;
    box-shadow: 2px 12px 40px 0 rgba(0,0,0,0.4);
    border-radius: 50%;
    float: right
}
.main-section .section-info .information {
    color: #fff;
    font-size: 13px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 40px;
}
.main-section .section-info .information .phone-number {
    font-size: 27px;
    margin: -3px 0 20px
}
.main-section .section-info .information .small {
    color: #ccc;
    margin: 0
}
.main-section .section-info .information .white {
    color: #fff
}

/*
    .main-section responsive 
*/
@media(max-width: 767px) {
    .section {
        height: auto;
    }
    .main-section {
        height: 500px
    }
}
@media(max-width: 991px) {
    .main-section .section-info img {
        width: 300px
    }
}
@media(max-width: 767px) {
    .main-section .section-title {
        font-size: 40px;
        text-align: center
    }
    .main-section .section-info .information {
        bottom: 20px
    }
}
@media(max-height: 600px) {
    .main-section {
        padding-top: 100px
    }
    .main-section .section-info img {
        width: 300px
    }
}





/* Story-Section */

@media(min-width: 768px){
    .story-section {
        padding-top: 180px;
        margin-bottom: 15%;
    }
    .story-section .video {
        float: right
    }
}
@media(max-width: 767px) {
    .story-section {
        margin-bottom: 10%;
    }
}
.story-section .reserv-btn {
    margin-top: 100px
}
.story-section .video {
    width: 80%;
}
.section-body .author {
    margin-top: 55px
}


@media(max-width: 991px) {
    .story-section .reserv-btn {
        font-size: 15px;
        padding: 13px 20px;
    }
}

@media(max-width: 767px) {
    .story-section .video {
        margin: 35px auto;
    }
}




/*
    Menu section
*/
.menu-section .slider-container {
    margin-bottom: 50px;
}
/*
.menu-section .slider-container .slider-item {
    width: 360px;
}
*/



/*
    Testmonials section
*/

.testimonials-section {
    height: auto;
    min-height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg-2.jpg');
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 90px 15px;
}
.testimonials-section .testimonials-icon i {
    font-size: 35px;
    margin-bottom: 50px
}
.testimonials-section .testimonials-content .paragraph {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}
.testimonials-section .author {
    font-size: 14px;
    font-weight: 400;
    margin-top: 70px;
}
.testimonials-section .author:before {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.testimonials-section .author:after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}



/*
    chief testiomnials section
*/
.chief-testimonials {
    height: auto;
    min-height: auto;
}
.chief-testimonials .chief-img img {
    width: 370px
}
.chief-slider {
    padding: 0;
}
.chief-slider .slider-arrows .arrow {
    position: static;
    font-size: 20px;
    margin-top: 0;
}



/* chief-testimonials responsive */
@media(max-width: 991px) {
    .chief-testimonials .section-title, .chief-testimonials .section-body {
        text-align: center;
    }
    .chief-testimonials .chief-img img {
    width: 320px
}
}




/*
    news section
*/
.news-section .section-body {
    max-width: 900px;
    padding-bottom: 50px;
}
.event-card {
    background-color: transparent;
}
.event-card .card-content {
    background-color: #fff;
}
.event-card .card-title {
    font-size: 18px;
    font-weight:900;
    padding: 30px 0;
    margin-bottom: 30px;
    position: relative;
}
.event-card .card-title:after {
    content: '';
    position: absolute;
    width: 50px;
    border-bottom: 1px dashed #ccc;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 100%;
    
}
.event-card .paragraph {
    font-size: 12px;
    margin: 0 0 3px;
}


/*
    news-section responsive
*/
@media (max-width: 767px) {
    .event-card {
        max-width: 450px;
        margin: 0 auto 25px;
        padding: 0 15px;
    }
    .event-card .card-content.has-arrow.arrow-left:before, .event-card .card-content.has-arrow.arrow-right:before {
        border-top: none;
        border-bottom: 15px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        margin-left: -10px;
        left: 50%;
        bottom: 100%;
        top:auto;
    } 
}




/*
    contact section
*/

.contact-section .section-body {
    background-color: #fff;
    padding: 50px 45px;
}
.contact-section .line-bottom {
    position: relative;
}
.contact-section .line-bottom:before {
    content: '';
    border-bottom: 2px solid #333;
    width: 70px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact-section .country-city {
    font-size: 30px;
    margin: 0 0 10px;
}
.contact-section .country-city .country {
    color: #ccc;
}
.contact-section .address {
    margin: 0 0 30px;
}
.contact-section .call-us .phone-number {
    margin: -15px 0 45px;
    font-size: 35px;
}
.contact-section .service {
    margin-bottom: 40px;
}
.contact-section .service:last-child {
    margin-bottom: 0;
}
.contact-section .service .service-title{
    margin-bottom: 8px;
}
.contact-section .service .paragraph{
    font-size: 13px;
    margin: 0 0 3px;
}
.contact-section .service .paragraph{
    margin-bottom: 0;
}


/*contact-section responsive*/
@media(min-width: 768px){
    .contact-section {
        min-height: auto;
    }
    .contact-section .section-body {
        margin-bottom: -50px;
        position: relative;
        bottom: -30px;
        z-index: 1;
    }
}
@media(max-width: 991px) {
    .contact-section .call-us .phone-number {
        font-size: 30px;
    }
}
@media(max-width: 420px) {
    .contact-section .call-us .phone-number {
        font-size: 26px;
    }
}
@media(max-width: 767px) {
    .contact-section .section-body {
        text-align: left;
    }
    .contact-section .line-bottom:before {
        content: '';
        display: none;
    }
}




/*
    map
*/
.map iframe {
    width: 100%;
    height: 500px;
}


/*
    footer
*/
footer {
    background-color: #131A21;
    text-align: center;
    padding: 50px 20px 30px
}
footer .logo {
    margin-bottom: 30px;
}
footer ul, footer li {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
footer li {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle
}
footer li:hover {
    color: #666666;
}
footer .footer-links {
    margin-bottom: 80px;
}
footer .footer-links li {
    padding: 0 15px;
    border-right: 1px solid #666666;
}
footer .footer-links li:first-child {
    padding-left: 0;
}
footer .footer-links li:last-child {
    padding-right: 0;
    border-right: none;
}
footer .social-media {
    margin-bottom: 30px
}
footer .social-media li {
    margin-right: 15px;
}
footer .social-media li:last-child {
    margin-right: 0;
}
footer .copyrights {
    font-size: 12px;
    color: #666666
}


/*
    footer responsive
*/
@media(max-width: 460px) {
    footer .footer-links li {
        display: block;
        border-right: none;
        padding: 0;
        margin-bottom: 15px
    }
}





/*scroll btn*/
.scroll-btn {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #222;
    position: fixed;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    display: none;
}
.scroll-btn i {
    margin-top: 8px;
    font-size: 30px;
}
.scroll-btn:hover {
    background-color: #000;
}































